@charset "utf-8";
.consultacuerpo{
	margin-top:-40px;
}
#consulta{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom: 40px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: 300px 300px 300px;
	grid-gap: 40px 50px;
}
.sem{
	text-align: center;
	background: #8c4895;
	border-radius: 50px;
	box-shadow: 0px 8px 16px rgba(0,0,0,0.3)
}
#consulta a{
	position: relative;
	top: 180px;
	padding: 16px 32px;
	background: #f1842c;
	text-decoration: none;
	border-radius: 20px;
	color:#fff;
	font-weight: 600;
	box-shadow: 0px 8px 16px rgba(0,0,0,0.3)
}
#consulta h1{
	color:#fff;
	position: relative;
	top: 110px;
	font-size: 22pt;
	font-weight: 600;
}
/****MIGA DE PAN****/
.ubicacion{
    padding-top: 75px;
    background: #43bbb9;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.ubicacion ul.migadepan{
	padding: 12px 70px 12px 70px;
	list-style-type: none;
	background: inherit;
	font-size: 14px;
	font-weight: 600;
	color:#fff;
	border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.ubicacion ul.migadepan li{
	display: inline;
	padding: 0px 0px 0px 3px;
	font-size: 14px;
}
.ubicacion ul.migadepan li+li:before{
	padding: 3px;
	color:#fff;
	font-weight: 300;
	content:"/\00a0";
}
.ubicacion ul.migadepan li a{
	color:#fff;
	font-weight: 300;
	text-decoration: none;
}
.ubicacion ul.migadepan li a:hover{
	color: red;
	text-decoration: underline;
}
/*****BOTONVOLVER**************************/
.botonvolver{
	padding: 10px 0px 10px 0px;
	position: relative;
	top: 25px;
	z-index: 2;
}
.botonvolver a{
	background: #8c4895;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-decoration: none;
    color: #fff;
    display: block;
	width: 150px;
    padding: 16px 32px;
    font-size: 12pt;
    font-weight: 600;
	z-index: 2;
}
.botonvolver a i{
	padding: 0;
	margin-right: 5px;
}
.botonvolver a:hover{
	background: #f1842c;
	transition: 0.3s ease;
	width: 170px;
	z-index: 2;
}
.descripcionconsulta{
	text-align: center;
	margin: 10px 30px 10px 30px;
}

/***********************************/
.c1{
	background-image:url("consultas_semestres/img/semestre1img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.c2{
	background-image:url("consultas_semestres/img/semestre2img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.c3{
	background-image:url("consultas_semestres/img/semestre3img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.c4{
	background-image:url("consultas_semestres/img/semestre4img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.c5{
	background-image:url("consultas_semestres/img/semestre5img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.c6{
	background-image:url("consultas_semestres/img/semestre6img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.c7{
	background-image:url("consultas_semestres/img/semestre7img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
/*@medias****************************************/
@media only screen and (max-width:1200px){
	#consulta{
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 20px;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: 300px 300px 300px 300px;
		grid-gap: 40px 50px;
	}
	.sem{
		text-align: center;
		border-radius: 50px;
	}
	#consulta h1{
		font-size: 20pt;
	}
}
/*****************************/
@media only screen and (max-width:900px){
	.botonvolver{
		padding: 10px 0px 10px 0px;
		position: relative;
		top: 8px;
		z-index: 2;
	}
}
/*****************************/
@media only screen and (max-width:700px){
	.consultacuerpo{
		margin-top:0px;
	}
	#consulta{
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 30px;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 300px 300px 300px 300px 300px 300px 300px;
		grid-gap: 40px 50px;
	}
	.sem{
		text-align: center;
		border-radius: 50px;
	}
	#consulta h1{
		font-size: 22pt;
	}
}
