@charset "utf-8";
.botonvolver{
	padding: 10px 0px 10px 0px;
	position: relative;
	top: 10px;
	z-index: 2;
}
.forointro{
	margin: -30px 0px 0px 0px;
	padding: 0px 60px 0px 60px;
}
.forointro h1{
	padding: 20px 0px 5px 0px;
	text-align: center;
	font-size: 30pt;
	color: #8c4895;
	line-height: 32pt;
}
.forointro h2{
	margin: 20px 0px 0px 0px;
	font-size: 18pt;
	color: #8c4895;
}
.forointro h3{
	font-size: 12pt;
	color: #000;
	font-weight: 400;
}
.forointro .titincentivo{
	padding: 20px 0px 20px 0px;
	text-align: center;
}
.semestresforo{
	margin:  40px 60px 50px 60px;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 150px 150px 150px 150px;
	grid-gap: 40px 30px;
}
.semestresforo a{
	text-decoration: none;
	font-size: 20pt;
	padding-left: 60px;
	line-height: 150px;
	font-weight: 600;
	color:#fff;
	transition: 0.3s ease;
}
.fsem{
	border-radius: 60px;
	box-shadow: 0px 8px 16px rgba(0,0,0,0.4); 
}
.semestresforo a:hover{
	transform: scale(1.05);
	filter: hue-rotate(90deg) brightness(120%);
}
.f1{
	background-image:url("forosemestres/img/semestre1img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.f2{
	background-image:url("forosemestres/img/semestre2img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.f3{
	background-image:url("forosemestres/img/semestre3img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.f4{
	background-image:url("forosemestres/img/semestre4img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.f5{
	background-image:url("forosemestres/img/semestre5img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.f6{
	background-image:url("forosemestres/img/semestre6img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.f7{
	background-image:url("forosemestres/img/semestre7img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
/*@medias*****************************************/
@media only screen and (max-width:1200px){
	.semestresforo{
		grid-template-columns: auto;
	}
}
/*****************************************/
@media only screen and (max-width:900px){
	.forointro{
		margin: 0px 0px 0px 0px;
		padding: 0px 50px 0px 50px;
	}
}
/*****************************************/
@media only screen and (max-width:700px){
	.semestresforo{
		grid-template-columns: auto;
	}
}