@charset "utf-8";
.botonvolver{
	margin-top: 5px;
	top: 0;
}
.introforoint{
	margin: 0px 60px 0px 60px;
}
.titdisc{
	font-size: 24pt;
	color: #8c4895;
}
.contforoint .autorforoap{
	font-size: 10pt;
	padding-bottom: 10px;
	color: #8c4895;
}
.contforoint h2{
	font-size: 12pt;
	font-weight: 500;
}
/**************************************/
.chat{
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
}
.conversacion{
	display: block;
	margin: 0px 10px 0px 10px;
	padding: 10px 0px 10px 0px;
	border-radius: 20px;
	background: #eee;
}
.msg{
	height: auto;
    width: 100%;
    font-size: 15px;
	padding: 13px 20px;
}
.msg1{
	background: #8c4895;
	color: #fff;
	padding: 14px 20px;
	width: 90%;
	border-radius: 20px;
}
.msg2{
	background: #f1842c;
	color: #000;
	padding: 14px 20px;
	width: 90%;
	border-radius: 20px;
	margin-left: 10%;
}
.escribirenviar{
	margin: 0px 80px 40px 80px;
	display: flex;
}
.escribirenviar textarea{
	width: 100%;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #bbb;
	resize: none;
	box-shadow: 0px 0px 16px rgba(0,0,0,0.4) inset;
}
.escribirenviar .botonenviar{
	display: flex;
	align-items: center;
	float: right;
	margin: 0;
	padding: 0;
}
.escribirenviar .botonenviar a{
	display: inline-flex;
	background: #43bbb9;
	margin-left: 20px;
	padding: 12px 30px;
	border-radius: 25px;
	color: #fff;
	text-decoration: none;
	transition: 0.4s;
	font-weight: 600;
}
.escribirenviar .botonenviar a i{
	display: flex;
	align-items: center;
	padding: 0px 5px;
}
.escribirenviar .botonenviar a:hover{
	background: #8c4895;
}
/*******************************************************/
@media only screen and (max-width:700px){
	.titdisc{
		text-align: center;
		line-height: 30pt;
	}
	.autorforoap{
		text-align: center;
	}
	.escribirenviar{
		margin: 0px 40px 30px 40px;
		flex-direction: column;
	}
	.chat{
		padding-top: 20px;
		padding-bottom: 30px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.escribirenviar .botonenviar{
		padding: 20px 0px 0px 0px;
	}
	.escribirenviar .botonenviar a{
		margin: 0 auto;
	}
}
