@charset "utf-8";
.botonvolver{
	padding: 10px 0px 10px 0px;
	position: relative;
	top: 5px;
	z-index: 2;
}
.contenedorintsemestres{
	margin: -25px 0px 0px 0px;
}
.intsemestres{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 40px;
	margin-bottom: 40px;
	display: grid;
	grid-template-columns: 48% 48%;
	grid-template-rows: 500px;
	grid-gap: 4%;
}
.intsemestres a{
	border-radius: 40px;
	text-align: center;
	text-decoration: none;
	box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
	transition: 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.intsemestres a:hover{
	transform: scale(1.05);
	filter: hue-rotate(90deg) brightness(120%);
}
.tutos{
	background-image: url("img/tutos.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.talleres{
	background-image: url("img/talleres.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
/*@medias*****************************************************/
@media only screen and (max-width:700px){
	.intsemestres{
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 40px;
		margin-bottom: 60px;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 300px 300px;
		grid-gap: 40px;
	}
} 

