@charset "utf-8";
.botonvolver{
	padding: 10px 0px 10px 0px;
	position: relative;
	top: 5px;
	z-index: 2;
}
.contenidoconsulta{
	margin: -20px 0px 0px 0px;
}
.materiasconsulta{
	display: grid;
	grid-template-columns: 48% 48%;
	grid-template-rows: 300px 300px;
	grid-gap: 40px 4%;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom: 40px;
}
.materiasconsulta a{
	text-decoration: none;
	background: #D23234;
	text-align: center;
	border-radius: 50px;
	box-shadow: 0px 8px 16px rgba(0,0,0,0.3)
}
.materiasconsulta a h1{
	line-height: 300px;
}
.materiasconsulta a:hover{
	background: #192BD7;
	transition: 1s ease;
	transform: scale(0.95);
}
/*@medias*****************************************************/
@media only screen and (max-width:700px){
	.materiasconsulta{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 300px 300px 300px 300px;
		grid-gap: 40px;
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 30px;
		margin-bottom: 40px;
	}
} 






