@charset "utf-8";
.botonvolver{
	padding: 10px 0px 10px 0px;
	position: relative;
	top: 5px;
	z-index: 2;
}
.contenidoconsulta{
	margin: -10px 0px 0px 0px;
}
.materiasconsulta{
	display: grid;
	grid-template-columns: 48% 48%;
	grid-template-rows: 300px 300px;
	grid-gap: 40px 4%;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 30px;
	margin-bottom: 40px;
}
.materiasconsulta a{
	text-decoration: none;
	text-align: center;
	border-radius: 50px;
	box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
}
.materiasconsulta a h1{
	color: #fff;
	font-size: 20pt;
	font-weight: 700;
	line-height: 27pt;
}
.materiasconsulta a:hover{
	transform: scale(1.02);
	filter: hue-rotate(90deg) brightness(120%);
}
.mat1{
	background-image: url("img/fundamentos.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.mat2{
	background-image: url("img/geometria.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.mat3{
	background-image: url("img/teoriacom.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.mat4{
	background-image: url("img/historia.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
/*@medias*****************************************************/
@media only screen and (max-width:700px){
	.materiasconsulta{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 300px 300px 300px 300px;
		grid-gap: 40px;
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 30px;
		margin-bottom: 40px;
	}
} 






