@charset "utf-8";
.cuerpoforo{
	margin-top: -20px;
}
.titulosem{
	text-align: center;
	font-size: 25pt;
	color: #8c4895;
}
.temasforo{
	margin-left: 60px;
	margin-right: 60px;
}
.temasforo a{
	display: block;
	width: 100%;
	padding: 40px 40px;
	margin-top: 20px;
	margin-bottom: 30px;
	background: #8c4895;
	border-radius: 40px;
	text-decoration: none;
	color: #fff;
}
/*****************************/
.temasforo .texttags{
	display: flex;
	align-items: center;
}
.temasforo .texttags h1{
	font-size: 14pt;
	font-weight: 600;
}
.texttags .tag{
	margin-left: 20px;
	font-size: 12px;
	background: #f1842c;
	color:#000;
	border-radius: 15px;
	padding: 3px 10px;
}
/*****************************/
.temasforo a .infocompl{
	display: flex;
	float: right;
}
.temasforo a h1{
	font-size: 15pt;
	font-weight: 400;
}
.temasforo a h2{
	font-size: 10pt;
	font-weight: 600;
}
.temasforo a .infocompl h6{
	margin: 0px 0px 0px 15px;
	font-size: 10pt;
	font-weight: 400;
}
.paginacion{
	text-align: center;
	padding-bottom: 20px;
}
.paginacion a{
	text-decoration: none;
	display: inline-block;
	padding: 5px 12px;
	border-radius: 10px;
	margin: -2px;
	color: #8c4895; 
}
.paginacion a.activo{
	color: #fff;
	background: #8c4895;
}
.paginacion a:hover:not(.activo){
	background: #ccc;
	padding: 5px 12px;
	border-radius: 10px;
}
.nuevotemabtn{
	text-align: center;
	padding: 10px 0px 10px 0px;
}
.nuevotemabtn button{
	margin: 0;
	padding: 0;
	border-radius: 30px;
	border:none;
	background: #43bbb9;
}
.nuevotemabtn button a{
	display: block;
	padding: 16px 32px;
	border-radius: 30px;
	font-size: 12pt;
	font-weight: 600;
	text-decoration: none;
	transition: 0.4s;
	color: #fff;
}
.nuevotemabtn button a:hover{
	background: #f1842c;
	color: #000;
}
.botonarriba{
	text-align: center;
	padding: 00px 0px 30px 0px;
}
.botonarriba button{
	margin: 0;
	padding: 0;
	border-radius: 30px;
	border:none;
	background: #43bbb9;
}
.botonarriba button a{
	display: block;
	padding: 10px 22px;
	border-radius: 30px;
	font-size: 12pt;
	font-weight: 600;
	text-decoration: none;
	transition: 0.4s;
	color: #fff;
}
.botonarriba button a i{
	font-size: 18pt;
}
.botonarriba button a:hover{
	background: #f1842c;
	color: #000;
}

/********************************************************************/
@media only screen and (max-width: 840px){
	.cuerpoforo{
		margin-top: 15px;
	}
	.titulosem{
		text-align: center;
		font-size: 25pt;
		color: #8c4895;
		line-height: 30pt;
	}
	.temasforo .texttags{
		flex-direction: column;
	}
	.temasforo .texttags h1{
		padding-bottom: 5px;
	}
	.texttags .tag{
		margin: 0;
	}
	.temasforo a .infocompl{
		margin-top: 5px;
		justify-content: center;
		float: none;
	}
	.temasforo a h2{
		padding-top: 5px;
		text-align: center;
	}
	.temasforo a .infocompl h6{
		margin: 0px 0px 0px 15px;
		font-size: 10pt;
		font-weight: 400;
	}
}
/********************************************************************/
@media only screen and (max-width: 700px){
	.titulosem{
		margin: 0px 20px 0px 20px;
	}
	.temasforo{
		margin-left: 40px;
		margin-right: 40px;
		}
	.temasforo .texttags h1{
		font-size: 12pt;
	}
}
/********************************************************************/
@media only screen and (max-width:500px){
	.temasforo a .infocompl{
		margin: 10px 0px 0px 0px;
		flex-direction: column;
	}
	.temasforo a .infocompl h6{
		margin: 0;
		text-align: center;
	}
	.temasforo .texttags h1{
		text-align: center;
		line-height: 15pt;
		margin-bottom: 5px;
	}
	.texttags .tag{
		text-align: center;
		line-height: 15px;
	}
}
